* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#cfdce8, #8cacc8);
    height: 100vh;
}

.Messanger {
    background-color: #fff;
    width: 360px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.Header {
    background-color: #6a96d8;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 20px;
    &__bullet {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: #fff;
        margin: 5px 15px 0 0 ;
    }
    &__title {
        font-size: 14px;
    }
    &__button {
        margin: -5px 0 -5px auto;
        padding: 0;
        // background-color: #6a96d8;
        background-color: rgba($color: #ffffff, $alpha: 0);
        border: none;
        outline: none;
        cursor: pointer;
        opacity: 0.7;
    }
}

.Content {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    &__title {
        border-top: 1px solid #ddd;
        text-align: center;
        text-transform: uppercase;
        color: #ddd;
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
    &__title-span {
        background-color: #ffffff;
        display: block;
        padding: 0 10px;
        margin-top: -9px;
    }
}

.Footer {
    margin: 0 20px 20px 20px;
    padding: 18px 0 0 0;
    border-top: 1px solid #ddd;
    display: flex;
    &__button {
        margin: auto 0 auto auto;
        border: none;
        outline: none;
        background: transparent;
        text-transform: uppercase;
        font-weight: 900;
        color: #6a96d8;
        cursor: pointer;
        letter-spacing: 2px;
    }
    &__input {
        border: none;
        outline: none;
        font-weight: 600;
        color: #aaa;
    }
}

.Message-left {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    &__time {
        width: 100%;
        font-size: 12px;
        color: #aaa;
        padding: 6px 0;
    }
    &__arrow {
        width: 0;
        height: 0;
        border-top: 8px solid #e6edf6;
        border-left: 8px solid transparent;
    }   
    &__text {
        max-width: calc(70% - 8px);
        background-color: #e6edf6;
        padding: 10px; 
        border-radius: 0 4px 4px 4px;
        font-size: 12px;
        font-weight: 600;
    }
}

.Message-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 10px;
    &__time {
        width: 100%;
        font-size: 12px;
        color: #aaa;
        text-align: right;
        padding: 6px 4px 6px 0;
    }
    &__arrow {
        width: 0;
        height: 0;
        border-top: 8px solid #f2f2f2;
        border-right: 8px solid transparent;
    }   
    &__text {
        max-width: calc(70% - 8px);
        background-color: #f2f2f2;
        padding: 10px; 
        border-radius: 4px 0 4px 4px;
        font-size: 12px;
        font-weight: 600;
    }
}

.Message-ban {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 10px;
    &__text {
        max-width: calc(70% - 8px);
        background-color: #f19696;
        padding: 10px; 
        border-radius: 0px 4px 4px 4px;
        font-size: 12px;
        font-weight: 600;
    }
}